.jumbotron{
	padding-top: 2rem;
	background-color: #273036;;
}

#about{
	background-color: #47a9ff;
}

#administrator {
	background-color: #ffffff;
}

#galery {
	background-color: #47a9ff;
}

#contact{
	background-color: #273036;
}

#footer{
	background-color: #100f10;
}
